.Footer {
  background-color: #28303d;
  padding: 4rem 0rem 2rem 5rem;
  color: white;
  display: grid;
  grid-template-columns: 23% 40% 22%;
  gap: 4%;
}
.col1 ul li img {
  width: 95%;
}
.Footer li {
  list-style-type: none;
  line-height: 1.8rem;
}
.Footer h3 {
  color: white;
}
.Footer li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footerIcons li {
  list-style-type: none;
  display: inline;
  margin-left: 4%;
}
.footerIcons {
  font-size: 2rem;
}
.footerBar {
  padding: 1%;
  display: grid;
  grid-template-columns: 80% 20%;
  background-color: #10131e;
  color: white;
padding-bottom: 0px !important;

}
.divider {
  background-color: white !important;
}
.links{
  display: grid;
  grid-template-columns: 40% 40%;
  gap:5%;
}
@media screen and (max-width:1200px) {
  .Footer {
    padding: 4rem 0rem 2rem 2rem;
    grid-template-columns: 1fr 1fr;
  }
  .footerBar {
    padding: 1%;
    display: grid;
    grid-template-columns: 65% 35%;
  }
}
@media screen and (max-width:845px) {
  .links{
    display: grid;
    grid-template-columns: 1fr;
    gap:0%;
  }
  .Footer {
    gap: 6%;
  }
 
}
@media screen and (max-width:700px) {
  .Footer {
    grid-template-columns: 1fr;
   gap: 3%;
   padding: 4rem 2rem 6rem 2rem;

  }
  .footerBar {
    padding: 3%;
    grid-template-columns: 1fr;
  text-align: center;
  }
  .footerIcons li:first-child {
    margin-left: -10% !important;
  }
}
